*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Sigmar One', cursive;
}



nav{
    position: fixed;
    display: inline-block;

}


ul{
        position: absolute;
        left: 90vw;
      
    }

nav li {
    background-color: white;
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px 10px;
    font-size: small;
    text-align: center;
    line-height: 10px;
    
    
}

a{
    text-decoration: none;
}

a:visited{
    color: rgb(81, 92, 60);
}



#red-container{
    background-color: red;
    width: 100vw;
    height: 100vh;
}

.product{
    height: 100%;
    position: relative;
}

.scarpa-1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-1{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: yellow;
}



#green-container{
    background-color: green;
    width: 100vw;
    height: 100vh;
}

.product-2{
    height: 100%;
    position: relative;
}

.scarpa-2{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-2{
    position: absolute;
    top: 172%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: yellow;
}

#yellow-container{
    background-color:yellow;
    width: 100vw;
    height: 100vh;
}

.product-3{
    height: 100%;
    position: relative;
}

.scarpa-3{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.line-3{
    position: absolute;
    top: 275%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    color: green;